/**
 * zwei Schrift-schntte für Lato
 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Lato/Lato-Regular.ttf) ;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/Lato/Lato-Bold.ttf);
}
/**
 * mini reset
 */
*,*::after,*::before {
  padding: 0; 
  margin: 0;
  box-sizing: border-box; 
}
/**
 * basis design
 */
:root {
  background-color:darkslategray;
  color: white;
  font: 15px/1.5em normal, Lato;
  scroll-behavior: smooth;
}

/**
 * links haben kein underline, bei hover einen Rand unten
 */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid gray;
}
/**
 * Überschriften Kapitälchen, und Zeilenabstand 1.2
 */
h1, h2 {
  line-height: 1.2em;
  font-variant: small-caps;
}
/**
 * Überschriften etwas kleine als standard
 */
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.rem;
}
/**
 * header
 *  Überschrift
 *  navigation
 * main
 *   sections
 * footer
 */
header {
  font-size: 20px;
  position:sticky;
  top:0;

  padding-bottom: 20px;
  backdrop-filter: blur(20px);
}
/**
 * Inhalt von main werden horizental dargestellt
 */
main {
  display: flex;
  gap: 30px;
  padding: 0 30px;
}
footer {
  margin: 20px 0;
  text-align: center;
}

/**
 * in pc Ansicht keine Navigation
 */
nav {
  display: none;
}
/**
 * Kein bullets, li verteilt
 */
nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav li {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}
/**
 * sections sind alle gleich breit
 * sections haben transitions für hovers
 */
section {
  flex: 1 1 0;
  padding: 10px;
  color: white;
  border-radius: 8px;

  background-color: black;
  background-size:cover;
  background-repeat: no-repeat;

  transition: scale 0.1s ease-in, box-shadow 1s ease-out, transform 2s ease-out;
}
section:hover {
  box-shadow: 0 0 20px yellow;
  scale: 1.05;
  transform: rotate(1deg);
}

/**
 * section haben eigene Hintegrundbilder
 */
section#vlieland {
  background-image: url(/assets/img/vlieland.jpg);
}
section#ameland {
  background-image: url(/assets/img/ameland.jpg);
}
section#terschelling {
  background-image: url(/assets/img/terschelling.jpg);
}

/**
 * links in sections haben einen hintergrund
 */

section a {
  background-color: green;
}

#titel {
  text-align: center;
}

#fett{
  color: black;
}

/**
 * breakpoint 800px für tablets/mobiles
 */
@media screen and (max-width: 800px) {
  body {
    font-size: 1.3em;
  }
  /**
   * sections vertial
   */
  main {
    flex-direction: column;
    padding: 0;
  }
  section {
    border-radius: initial;
  }
  nav {
    display: initial;
  }
  section:hover {
    transform: initial;
    scale: initial;
    box-shadow: none ;
  }
}
/**
 * breakpoint für super breite bildschirm (Fernsher usw.)
  */
@media screen and (min-width:1600px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
}

